title {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    background-color: blanchedalmond;
    color: brown;
}
main section:nth-child(1) p{
    padding:5px;
}
main section:nth-child(1)
p:nth-child(1){
    text-align: left;
    color: chocolate;
    background-color: darkgray;
}
main section:nth-child(1) p:nth-child(2){
    color: darkmagenta;
    background-color:gray ;
}
