
h1 {
    text-align: center;
    background-color: ivory;
    color: rebeccapurple;
}
main section:nth-child(1) p{
    padding:5px;
background-color:seashell;
color: slateblue;
font-size: medium;
}
main section:nth-child(1)
p:nth-child(1){
    text-align: left;
    color: chocolate;
    background-color:thistle;
    font-size: medium;
}
main section:nth-child(1) p:nth-child(2){
    color: darkmagenta;
    background-color:gray ;
    font-size: medium;
}


body {

    color:greenyellow;
    width: 100%;
    
}