
h1 {
    text-align: center;
    background-color: ivory;
    color: rebeccapurple;
}
body ul li {
    padding: 10px;
    color:sandybrown;
}
body ol li {
    color: navy;
}
main section:nth-child(1) p{
    padding:5px;
background-color:goldenrod;
color: slateblue;
font-size: medium;
}

main section:nth-child(1) p:nth-child(1){
    color: darkmagenta;
    background-color:gray ;
    font-size: medium;
}


body {

    color:brown;
    width: 100%;
    
}